<!DOCTYPE HTML>
<html>

<head>
    <title>Daniel Choi | Teaching</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/main.css')}}" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/" class="logo"><strong>Daniel Choi</strong></a>
            <nav id="nav">
                <a href="/">Home</a>
                <a href="/research">Research</a>
                <a href="/teaching">Teaching</a>
                <a href="/link">Link</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <section id="three" class="wrapper">
        <div class="inner">


            <div>
                <h3>Advisors</h3>
                <td><a href="http://kaistceps.quv.kr/">Climate Energy Policy Strategy Lab, KAIST</a></td><br><br>
                <td><a href="http://se.postech.ac.kr/">System & Economic Decision Analysis Lab, POSTECH </a></td><br><br>
                <td><a href="https://greenidealab.com/">Green Idea Lab, Consulting group</a></td><br><br>
            </div>


            <div>
                <!-- <h3>Contact</h3> -->
                <h4>**Feel free to <a href="mailto:dhchoi90@business.kaist.edu">Contact</a> me! </h4>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="copyright">
                    &copy; 2020 Daniel Choi
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>